<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Email"/>
<f:section name="content">

    <style>
        body {
            color: #323232;
            font-size: 14px;
            font-family: Helvetica, Verdana, Arial;
        }
    </style>

    <p>
        Hallo {first_name},
    </p>
    <p>
        Dein Fragebogen ist erfolgreich bei uns eingegangen!
    </p>
    <p>
        Vielen Dank, dass Du Dir die Zeit genommen hast, an unserer Umfrage teilzunehmen!<br/>
    </p>
    <p>
        Mit freundlichen Grüßen<br/>
        ...
    </p>
</f:section>
</html>
