<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">

    <f:flashMessages/>

    <f:if condition="{doNotUseAuthKey} == 1">
        <f:render partial="Survey/NoAuthKeyMessage"/>
    </f:if>

    <div data-uk-grid="">
        <f:for each="{surveys}" as="survey">
            <div class="uk-width-1-1">
                <h3 class="uk-margin-remove">
                    {survey.title}
                </h3>
            </div>
            <f:if condition="{survey.image}">
                <f:then>
                    <div class="uk-width-1-5 uk-margin-remove">
                        <f:image class="img-fluid" src="{survey.image.uid}" treatIdAsReference="1" maxHeight="200"/>
                    </div>
                    <div class="uk-width-4-5 uk-margin-remove">
                        <p>
                            <f:format.html>{survey.description}</f:format.html>
                        </p>
                    </div>
                </f:then>
                <f:else>
                    <div class="uk-width-1-1">
                        <p>
                            <f:format.html>{survey.description}</f:format.html>
                        </p>
                    </div>
                </f:else>
            </f:if>
            <div class="uk-width-1-1 uk-text-right">
                <f:link.action class="uk-button uk-button-primary" pageUid="{settings.detailsPid}" action="show"
                               arguments="{survey:survey}">
                    <f:translate key="label.button.show"/>
                </f:link.action>
                <hr/>
            </div>
        </f:for>
    </div>


</f:section>
</html>
