<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ge=EXOTEC\Questionaire\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">

    <f:flashMessages/>

    <f:if condition="{doNotUseAuthKey} == 1">
        <f:render partial="Survey/NoAuthKeyMessage"/>
    </f:if>

    <f:if condition="{noValidUser}">
        <f:then>
            <!-- DO NOTHING noValidUser -->
        </f:then>
        <f:else>
            <f:form action="create" pageUid="{settings.detailPid}" controller="Result" id="tx-questionaire-form">

                <f:form.hidden name="values[survey]" value="{survey.uid}"/>
                <f:form.hidden name="values[feUser]" value="{feUser}"/>
                <f:form.hidden name="values[invitation_uid]" value="{invitation_uid}"/>

                <h2>{survey.title}</h2>
                <div>
                    <f:format.html>{survey.description}</f:format.html>
                </div>

                <f:for each="{survey.questions}" as="question">
                    <div class="question-{question.uid} questions">
                        <f:if condition="{question.type} == 'Matrix'">
                            <f:then>
                                <h4>{question.title}</h4>
                                <div class="description">
                                    <f:format.raw>{question.description}</f:format.raw>
                                </div>
                                <table class="uk-table uk-table-striped">

                                    <thead>
                                    <tr>
                                        <td>

                                        </td>
                                        <f:for each="{question.answers}" as="answers">
                                            <td class="header-cell">{answers.title}</td>
                                        </f:for>
                                        <td>

                                        </td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <f:for each="{question.matrixquestions}" as="matrixquestion" iteration="_iter">
                                        <f:render partial="Survey/{question.type}"
                                                  arguments="{question: '{question}', matrixquestion: '{matrixquestion}', answers: '{question.answers}', _iter: '{_iter}'}"/>
                                    </f:for>
                                    </tbody>

                                </table>


                            </f:then>
                            <f:else>
                                <f:if condition="{question.type} == 'Grades'">
                                    <f:then>

                                        <h4>{question.title}</h4>
                                        <div class="description">
                                            <f:format.raw>{question.description}</f:format.raw>
                                        </div>
                                        <div class="errors" id="{question.type}_error_{question.uid}"></div>
                                        <f:for each="{grades}" as="grade" iteration="_iter">
                                            <f:render partial="Survey/{question.type}"
                                                      arguments="{question: '{question}', grade: '{grade}', _iter: '{_iter}'}"/>
                                        </f:for>

                                    </f:then>
                                    <f:else>
                                        <h4>{question.title}</h4>
                                        <div class="description">
                                            <f:format.raw>{question.description}</f:format.raw>
                                        </div>
                                        <div class="errors" id="{question.type}_error_{question.uid}"></div>

                                        <f:if condition="{question.type} == 'Radios'">
                                            <f:then>
                                                <f:if condition="{question.htmlElement} == 'Radios'">
                                                    <f:then>
                                                        <f:for each="{question.answers}" as="answer" iteration="_iter">
                                                            <f:render partial="Survey/{question.type}"
                                                                      arguments="{question: '{question}', answer:answer, _iter: '{_iter}'}"/>
                                                        </f:for>
                                                    </f:then>
                                                    <f:else>
                                                        <f:render partial="Survey/Select"
                                                                  arguments="{question: '{question}', answer:answer, _iter: '{_iter}', selectOptions: '{selectOptions}'}"/>
                                                    </f:else>
                                                </f:if>
                                            </f:then>
                                            <f:else>
                                                <f:for each="{question.answers}" as="answer" iteration="_iter">
                                                    <f:render partial="Survey/{question.type}"
                                                              arguments="{question: '{question}', answer:answer, _iter: '{_iter}'}"/>
                                                </f:for>
                                            </f:else>
                                        </f:if>

                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>


                </f:for>


                <div class="questions">
                    <f:form.submit onclick="validateCheckBox(); return false;"
                                   value="<f:translate key='label.button.send' />" class="uk-button uk-button-primary" id="button"/>
                </div>

            </f:form>


            <script>


                var errorMessage = "<f:translate key='label.error.alert' />";

                function validateCheckBox() {
                    var error = 0;
                    <f:format.raw>{inlineJS}</f:format.raw>

                    if (error == 1) {
                        alert(errorMessage);
                        return false;
                    }
                    $('#tx-questionaire-form').submit();
                    return true;
                }

                function hasClass(element, className) {
                    return (' ' + element.className + ' ').indexOf(' ' + className + ' ') > -1;
                }

                function validateMultipleCheckBoxes(checkBoxGroupName, minAnswers, maxAnswers, errorContainer, errorMessage, errorMessageMax) {

                    var formName = "tx-questionaire-form";
                    var noOfCheckBoxes = $(checkBoxGroupName).length;
                    var checkedCheckBoxes = 0;

                    for (var x = 0; x < noOfCheckBoxes; x++) {

                        if ($(checkBoxGroupName)[x].checked == true || $(checkBoxGroupName)[x].selected == true) {
                            checkedCheckBoxes++;
                        }
                    }

                    if (checkedCheckBoxes < minAnswers) {
                        document.getElementById(errorContainer).innerHTML = errorMessage;
                        return false;
                    } else if (checkedCheckBoxes > maxAnswers) {
                        document.getElementById(errorContainer).innerHTML = errorMessageMax;
                        return false;
                    } else {
                        document.getElementById(errorContainer).innerHTML = "";
                        return true;
                    }

                }

            </script>
        </f:else>
    </f:if>


</f:section>
</html>
