<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Result</h1>

<f:flashMessages />

<table  class="tx_questionaire" >
	<tr>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{results}" as="result">
		<tr>
			<td><f:link.action action="edit" arguments="{result : result}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{result : result}">Delete</f:link.action></td>
		</tr>
		</f:for>
</table>

<f:link.action action="new">New Result</f:link.action>
	</f:section>
</html>