<f:for each="{grades}" as="grade">
    <tr>
        <td>
            <stong>{grade.title}</stong>
        </td>
        <td width="200">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {grade.percents}%;" aria-valuenow="{grade.percents}" aria-valuemin="0" aria-valuemax="100">{grade.percents}%</div>
            </div>
        </td>
    </tr>
</f:for>




