<tr>
    <td width="25%" style="vertical-align: top;">
        <strong>{matrixquestion.title}</strong>
        <div class="errors" id="Matrix_error_{matrixquestion.uid}"></div>
    </td>
    <f:for each="{answers}" as="answer">
        <td width="{v:math.division(a: '75', fail: 1, b: '{total}')}%" style="text-align:center; vertical-align: top;">
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     style="width: <ge:percents matrixAnswers='{matrixAnswers}' answer='{answer.uid}'  question='{matrixquestion.uid}' />%;"
                     aria-valuenow="<ge:percents matrixAnswers='{matrixAnswers}' answer='{answer.uid}'  question='{matrixquestion.uid}' />"
                     aria-valuemin="0" aria-valuemax="100">
                        <ge:percents matrixAnswers='{matrixAnswers}' answer='{answer.uid}'  question='{matrixquestion.uid}' />%</div>
            </div>
        </td>
    </f:for>
</tr>
<tr>
    <td colspan="{v:math.sum(a: '1', fail: 1, b: '{total}')}" style="padding: 0; border: 0">
        <div style="max-height: 200px; overflow:auto; padding:0 5px 5px;">
            <strong>Anmerkungen:</strong><br />
            <f:if condition="{matrixnotes.{matrixquestion.uid}}">
                <f:then>
                    {matrixnotes.{matrixquestion.uid}}
                </f:then>
                <f:else>
                    Es wurden keine Angaben gemacht.
                </f:else>
            </f:if>
        </div>
    </td>
</tr>

