<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-questionaire" >
	<tr>
		<td>
			<f:translate key="tx_questionaire_domain_model_survey.title" />
		</td>
		<td>
			{survey.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_questionaire_domain_model_survey.description" />
		</td>
		<td>
			{survey.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_questionaire_domain_model_survey.image" />
		</td>
		<td>
			{survey.image.originalResource.name}
		</td>
	</tr>
</table>
</html>