<tr>
    <td>
        <stong>{answer.title}</stong>
    </td>
    <td width="200">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {answer.percents}%;" aria-valuenow="{answer.percents}" aria-valuemin="0" aria-valuemax="100">{answer.percents}%</div>
        </div>
    </td>
</tr>