<label>
    <f:form.checkbox class="{question.type}-{question.uid}" disabled="{disabled}" checked="{answer.checked}" multiple="1" name="values[{question.uid}]" value="{answer.uid}" /> {answer.title}
</label>
<f:if condition="{_iter.isLast}">
    <f:then>
        <br />
        <small><strong>Anmerkungen:</strong></small>
        <br />
        <f:if condition="{notes.{question.uid}}">
            <f:then>
                {notes.{question.uid}}
            </f:then>
            <f:else>
                <small>Es wurden keine Angaben gemacht.</small>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <br />
    </f:else>
</f:if>

