
<label class="radios active-{grade.checked}">
    <f:form.radio class="{question.type}-{question.uid}" disabled="{disabled}" checked="{grade.checked}" name="values[{question.uid}]" value="{grade.uid}" /> {grade.title}
</label>&nbsp;
<f:if condition="{_iter.isLast}">
        <f:then>
            <p><small><strong>Anmerkungen:</strong></small>
            <br />
            <f:if condition="{notes.{question.uid}}">
                <f:then>
                    {notes.{question.uid}}</p>
                </f:then>
                <f:else>
                    <small>Es wurden keine Angaben gemacht.</small></p>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <br />
        </f:else>
</f:if>



