<tr>
    <td style="vertical-align: top;">
        <strong>{matrixquestion.title}</strong>
        <div class="errors" id="Matrix_error_{matrixquestion.uid}"></div>
    </td>
    <f:for each="{answers}" as="answer">


        <td style="text-align:center; vertical-align: top;">
            <f:if condition="{answer.uid} == {matrixanswers.{matrixquestion.uid}}">
                <f:then>
                    <f:form.radio class="{question.type}-{matrixquestion.uid}"  disabled="{disabled}" checked="1" name="values[matrix][{matrixquestion.uid}]" value="{answer.uid}" />
                </f:then>
                <f:else>
                    <f:form.radio class="{question.type}-{matrixquestion.uid}"  disabled="{disabled}" checked="0" name="values[matrix][{matrixquestion.uid}]" value="{answer.uid}" />
                </f:else>
            </f:if>

        </td>
    </f:for>
    <td style="vertical-align: top;">
        <small><strong>Anmerkungen:</strong></small>
        <br />
        <f:if condition="{matrixnotes.{matrixquestion.uid}}">
            <f:then>
                {matrixnotes.{matrixquestion.uid}}
            </f:then>
            <f:else>
                <small>Es wurden keine Angaben gemacht.</small>
            </f:else>
        </f:if>
    </td>
</tr>

