
<label class="radios active-{answer.checked}">
    <f:form.radio class="{question.type}-{question.uid}"
                  disabled="{disabled}"
                  checked="{answer.checked}"
                  name="values[{question.uid}]" value="{answer.uid}" />
    <span>{answer.title}</span>
</label>&nbsp;
<f:if condition="{_iter.isLast}">
    <f:then>
        <br />
        <small><strong>Anmerkungen:</strong></small>
        <br />
        <f:if condition="{notes.{question.uid}}">
            <f:then>
                {notes.{question.uid}}
            </f:then>
            <f:else>
                <small>Es wurden keine Angaben gemacht.</small>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <br />
    </f:else>
</f:if>

