<div>
    <f:if condition="{question.type} == 'Matrix'">
        <f:then>
            <f:if condition="{survey.languageUid} == {question.languageUid}">
                <h4>{question.title}</h4>
                <table class="table table-striped table-condensed table-hover">

                    <thead>
                    <tr>
                        <td>

                        </td>
                        <f:for each="{question.answers}" as="answers">
                            <td style="text-align:center">
                                {answers.title}
                            </td>
                        </f:for>
                    </tr>
                    </thead>

                    <tbody>
                    <f:for each="{question.matrixquestions}" as="matrixquestion" iteration="_iter">
                        <f:render partial="Survey/{question.type}" arguments="{matrixnotes: '{matrixnotes}',matrixAnswers: '{matrixAnswers}', question: '{question}', matrixquestion: '{matrixquestion}', answers: '{question.answers}', total: '{question.answers -> f:count()}' }" />

                        <f:for each="{matrixAnswers.{matrixquestion.uid}}" as="answer">
                            <script>
                                // var uid = {question.uid};
                                // var answer = '{matrixquestion.title}';
                                // var total = 123;
                                // var arr = {
                                //     question: uid,
                                //     answer: answer,
                                //     total: total
                                // };
                                // matrixanswers.push(arr);
                            </script>
                        </f:for>
                        <script>
                            // var uid = {question.uid};
                            // var answer = '{matrixquestion.title}';
                            // var total = 123;
                            // var arr = {
                            //     question: uid,
                            //     answer: answer,
                            //     total: total
                            // };
                            // answers.push(arr);
                        </script>

                    </f:for>
                    </tbody>
                </table>
            </f:if>

        </f:then>
        <f:else>
            <f:if condition="{question.type} == 'Grades'">
                <f:then>
                    <f:if condition="{survey.languageUid} == {question.languageUid}">
                        <h4>{question.title}</h4>
                        <div class="errors" id="{question.type}_error_{question.uid}"></div>
                        <table cellspacing="0" cellpadding="3" class="table table-striped table-hover">
                            <th>Antwort</th>
                            <th></th>
                                <f:render partial="Survey/{question.type}" arguments="{question: '{question}', grades: '{grades.{question.uid}}', _iter: '{_iter}'}" />

                                <f:for each="{grades.{question.uid}}" as="grade">
                                    <script>
                                        var uid = {question.uid};
                                        var answer = '{grade.title}';
                                        var total = {grade.total};
                                        var arr = {
                                            question: uid,
                                            answer: answer,
                                            total: total
                                        };
                                        answers.push(arr);
                                    </script>
                                </f:for>

                        </table>
                        <div style="margin-bottom:20px; max-height: 200px; overflow:auto;border: 1px solid #ccc; padding: 5px;">
                            <strong>Anmerkungen:</strong><br />
                            <f:if condition="{notes.{question.uid}}">
                                <f:then>
                                    {notes.{question.uid}}
                                </f:then>
                                <f:else>
                                    Es wurden keine Angaben gemacht.
                                </f:else>
                            </f:if>
                        </div>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{survey.languageUid} == {question.languageUid}">
                        <h4>{question.title}</h4>
                        <div class="errors" id="{question.type}_error_{question.uid}"></div>
                        <table cellspacing="0" cellpadding="3" class="table table-striped table-hover">
                            <th>Antwort</th>
                            <th></th>
                            <f:for each="{question.answers}" as="answer" iteration="_iter">
                                <f:render partial="Survey/{question.type}" arguments="{question: '{question}', answer:answer, _iter: '{_iter}'}" />

                                <script>
                                    var uid = {question.uid};
                                    var answer = '{answer.title}';
                                    var total = {answer.total};
                                    var arr = {
                                        question: uid,
                                        answer: answer,
                                        total: total
                                    };
                                    answers.push(arr);
                                </script>
                            </f:for>
                        </table>

                        <div style="margin-bottom:20px; max-height: 200px; overflow:auto;border: 1px solid #ccc; padding: 5px;">
                            <strong>Anmerkungen:</strong><br />
                            <f:if condition="{notes.{question.uid}}">
                                <f:then>
                                    {notes.{question.uid}}
                                </f:then>
                                <f:else>
                                    Es wurden keine Angaben gemacht.
                                </f:else>
                            </f:if>
                        </div>



                    </f:if>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</div>