<label>
    <f:form.checkbox class="{question.type}-{question.uid} uk-checkbox" disabled="{disabled}" checked="{answer.checked}" multiple="1" name="values[{question.uid}]" value="{answer.uid}" /> {answer.title}
</label>
<f:if condition="{_iter.isLast}">
    <f:then>
        <p>
            <label>
                <f:translate key="label.notes" />
            </label>
            <f:if condition="{disabled}">
                <f:then>
                    <f:if condition="{notes.{question.uid}}">
                        <f:then>
                            <span style="display: block; margin: 0 0 40px;">
                                {notes.{question.uid}}
                            </span>
                        </f:then>
                        <f:else>
                            <span style="display: block; margin: 0 0 40px;">
                                <f:translate key="label.noComments" />
                            </span>
                        </f:else>
                    </f:if>

                </f:then>
                <f:else>
                    <f:form.textarea class="uk-textarea" disabled="{disabled}" name="values[notes][{question.uid}]" value="{notes.{question.uid}}" placeholder="<f:translate key='label.textarea' />" />
                </f:else>
            </f:if>
        </p>
    </f:then>
    <f:else>
        <br />
    </f:else>
</f:if>

