<tr>
    <td>
        <strong>{matrixquestion.title}</strong>
        <div class="errors" id="Matrix_error_{matrixquestion.uid}"></div>
    </td>
    <f:for each="{answers}" as="answer">


        <td style="text-align:center; vertical-align: middle;">
            <f:if condition="{answer.uid} == {matrixanswers.{matrixquestion.uid}}">
                <f:then>
                    <f:form.radio class="{question.type}-{matrixquestion.uid} uk-radio"  disabled="{disabled}" checked="1" name="values[matrix][{matrixquestion.uid}]" value="{answer.uid}" />
                </f:then>
                <f:else>
                    <f:form.radio class="{question.type}-{matrixquestion.uid} uk-radio"  disabled="{disabled}" checked="0" name="values[matrix][{matrixquestion.uid}]" value="{answer.uid}" />
                </f:else>
            </f:if>

        </td>
    </f:for>
    <td style="vertical-align: middle;">
        <f:if condition="{disabled}">
            <f:then>
                <p style="width: 200px">
                    <f:if condition="{matrixnotes.{matrixquestion.uid}}">
                        <f:then>
                            {matrixnotes.{matrixquestion.uid}}
                        </f:then>
                        <f:else>
                            <f:translate key="label.noComments" />
                        </f:else>
                    </f:if>
                </p>
            </f:then>
            <f:else>
                <f:form.textfield class="uk-input" disabled="{disabled}" name="values[notes][matrix][{matrixquestion.uid}]" value="{matrixnotes.{matrixquestion.uid}}" placeholder="<f:translate key='label.textarea' />" />
            </f:else>
        </f:if>
    </td>
</tr>

