<div class="noAuthKeyMessage uk-alert uk-alert-danger">
    <a href="#" class="btn btn-lg"><span class="texticon-inner-icon ion ion-close-round"></span></a>
    <h3 class="uk-margin-remove">Hinweis</h3>
    <strong>settings.doNotUseAuthKey = 1</strong><br />
    An den Umfragen kann ohne Invite-Link teilgenommen werden!
</div>
<hr/>
