<f:form.select class="Radios-{question.uid} selectbox"
               disabled="{disabled}"
               name="values[{question.uid}]"
               optionLabelField="label"
               prependOptionValue="0"
               prependOptionLabel="-- bitte wählen --">
    <f:for as="option" each="{selectOptions}">
        <f:form.select.option selected="{option.selected}" class="{question.type}-{question.uid} select-option" value="{option.value}">{option.label}</f:form.select.option>
    </f:for>
</f:form.select>

<p class="textarea">
    <label>
        <f:translate key="label.notes" />
    </label>
    <f:if condition="{disabled}">
        <f:then>
            <f:if condition="{notes.{question.uid}}">
                <f:then>
                    <span style="display: block; margin: 0 0 40px;">
                        {notes.{question.uid}}
                    </span>
                </f:then>
                <f:else>
                    <span style="display: block; margin: 0 0 40px;">
                        <f:translate key="label.noComments" />
                    </span>
                </f:else>
            </f:if>

        </f:then>
        <f:else>
            <f:form.textarea class="form-control"
                             disabled="{disabled}"
                             name="values[notes][{question.uid}]"
                             value="{notes.{question.uid}}"
                             placeholder="<f:translate key='label.textarea' />" />
        </f:else>
    </f:if>
</p>

