<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Email"/>
<f:section name="content">

    <style>
        body {
            color: #323232;
            font-size: 14px;
            font-family: Helvetica, Verdana, Arial;
        }

        a {
            background: #323232;
            color: #f8f7f7;
            padding: 7px 10px;
            text-decoration: none;
        }
        a:hover {
            background: #999;
        }
    </style>

    <p>
        Hallo {first_name},
    </p>
    <p>
        um an der Umfrage zu teilzunehmen, klicke bitte auf den folgenden Link.
    </p>
    <p>
        <f:link.typolink parameter="{link}">Teilnehmen</f:link.typolink>
    </p>
    <p>
        Vielen Dank, dass Du Dir die Zeit nimmst und uns dabei hilfst unsere Produkte weiter zu verbessern.
    </p>
    <p>
        Freundliche Grüße<br/>
        ...
    </p>

</f:section>
</html>
