<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />


	<f:section name="content">
		<h1>Ergebnisse für {email}</h1>

		<f:if condition="{hideAllLink}">
			<f:then>
				<!--f:link.action class="btn" action="list" arguments="{email: '{email}'}">Zurück</f:link.action-->
			</f:then>
			<f:else>
				<f:link.action class="btn" action="list" arguments="{email: '*@{wildCardDomain}', hideAllLink: '1'}">
					Zeige alle Ergebnisse dieser Firma
				</f:link.action>
			</f:else>
		</f:if>
		

		<f:flashMessages />

		<ol  class="tx_questionaire" >
			<tr>
				<th> </th>
			</tr>

			<f:for each="{resultss}" as="results">
				<f:for each="{results}" as="result">

							<li>
								<f:link.action controller="Result" action="show" arguments="{result: result, sendNoEmail: 1}">
									{result.feUser.username}
								</f:link.action>
							</li>

				</f:for>
			</f:for>
		</ol>

	</f:section>
</html>