<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ge=EXOTEC\Questionaire\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">

	<f:flashMessages />

		<f:for each="{survey.questions}" as="question">

			<div class="results" id="tx-questionaire-form">
				<f:if condition="{question.type} == 'Matrix'">
					<f:then>
						<h4>{question.title}</h4>
						<table class="uk-table uk-table-striped">

							<thead>
							<tr>
								<td>

								</td>
								<f:for each="{question.answers}" as="answers">
									<td style="text-align:center">{answers.title}</td>
								</f:for>
								<td>

								</td>
							</tr>
							</thead>

							<tbody>
							<f:for each="{question.matrixquestions}" as="matrixquestion" iteration="_iter">
								<f:render partial="Survey/{question.type}" arguments="{question: '{question}', matrixquestion: '{matrixquestion}', answers: '{question.answers}', _iter: '{_iter}', disabled: '1', matrixanswers: '{matrixanswers}', matrixnotes: '{matrixnotes}' }" />
							</f:for>
							</tbody>

						</table>


					</f:then>
					<f:else>
						<f:if condition="{question.type} == 'Grades'">
							<f:then>

								<h4>{question.title}</h4>
								<f:for each="{grades}" as="grade" iteration="_iter">
									<f:render partial="Survey/{question.type}" arguments="{question: '{question}', grade: '{grade}', _iter: '{_iter}', disabled: '1', notes: '{notes}'}" />
								</f:for>

							</f:then>
							<f:else>
								<h4>{question.title}</h4>

								<f:if condition="{question.type} == 'Radios'">
									<f:then>

										<f:if condition="{question.htmlElement} == 'Select'">
											<f:then>
												<f:render partial="Survey/Select" arguments="{resultAnswers: '{result.answers}', question: '{question}', answer:answer, _iter: '{_iter}', disabled: '1', notes: '{notes}', selectOptions: '{selectOptions}'}" />
											</f:then>
											<f:else>
												<f:for each="{question.answers}" as="answer" iteration="_iter">
													<f:render partial="Survey/{question.type}" arguments="{resultAnswers: '{result.answers}', question: '{question}', answer:answer, _iter: '{_iter}', disabled: '1', notes: '{notes}'}" />
												</f:for>
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<f:for each="{question.answers}" as="answer" iteration="_iter">
											<f:render partial="Survey/{question.type}" arguments="{resultAnswers: '{result.answers}', question: '{question}', answer:answer, _iter: '{_iter}', disabled: '1', notes: '{notes}'}" />
										</f:for>
									</f:else>
								</f:if>




							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>


		</f:for>


</f:section>
</html>
