#tx-questionaire-form label {
    cursor: pointer;
    font-weight: normal;
}

#tx-questionaire-form .questions {
    padding: 20px;
    border: 1px solid #f2f2f2;
}

#tx-questionaire-form .questions:nth-child(odd) {
    background: #fff;
}
#tx-questionaire-form .questions:nth-child(even) {
    background: #f2f2f2;
}

/*.header-cell {*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*}*/

.errors {
    color: red;
}
/*.noAuthKeyMessage {*/
/*    position: relative;*/
/*}*/
/*.noAuthKeyMessage a.btn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/

.hidden {
    display: none;
}

.results .hidden {
    display: block;
}


ul.typo3-messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #ccc;
}
textarea.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

input.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

/*.tx-questionaire table {*/
/*    border-collapse:separate;*/
/*    border-spacing:10px;*/
/*}*/

/*.tx-questionaire table th {*/
/*    font-weight:bold;*/
/*}*/

/*.tx-questionaire table td {*/
/*    vertical-align:top;*/
/*}*/

.typo3-messages .message-error {
    color:red;
}

.typo3-messages .alert-success {
    color:green;
}
