<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:be.container>
		<div class="typo3-fullDoc">
			<div id="typo3-docheader">
				<div class="typo3-docheader-functions">
					<div class="left">
						<f:be.buttons.csh />
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="Overview" controller="Survey" action="list" />

							<f:comment>
								<f:be.menus.actionMenuItem label="Create new Survey" action="new" controller="Survey" />
								<f:be.menus.actionMenuItem label="Create new Question" action="new" controller="Question" />
								<f:be.menus.actionMenuItem label="Create new Answer" action="new" controller="Answer" />
								<f:be.menus.actionMenuItem label="Create new Matrixquestion" action="new" controller="Matrixquestion" />
								<f:be.menus.actionMenuItem label="Create new Result" action="new" controller="Result" />
								<f:be.menus.actionMenuItem label="Create new ResultAnswer" action="new" controller="ResultAnswer" />
								<f:be.menus.actionMenuItem label="Create new ResultNote" action="new" controller="ResultNote" />
							</f:comment>

						</f:be.menus.actionMenu>
					</div>
					<div class="right">
						<f:be.pagePath />
						<f:be.pageInfo />
					</div>
				</div>
				<div class="typo3-docheader-buttons">
					<div class="left">

					</div>
					<div class="right">
						<f:be.buttons.shortcut />
					</div>
				</div>

			</div>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody">
					<f:flashMessages />
					<f:render section="content" />
				</div>
			</div>
		</div>
	</f:be.container>
</html>
