<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<h1>Alle Umfragen</h1>

		<f:flashMessages />

		<ul  class="tx_questionaire" >
			<f:for each="{surveys}" as="survey">
				<li>
					<h4>
						<f:link.action action="show" arguments="{survey : survey}"> {survey.title}</f:link.action>
					</h4>
				</li>
			</f:for>
		</ul>

	</f:section>
</html>