<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="content">

    <f:flashMessages />

    <h1>{survey.title}</h1>
    <div><f:format.html>{survey.description}</f:format.html></div>

    <h3>Anzahl Teilnehmer: </h3>


  </f:section>
</html>