<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <f:be.pageRenderer includeRequireJsModules="{
			0:'TYPO3/CMS/Questionaire/GeChart'
		}" />

    <h1>Alle Umfragen</h1>

    <hr style="border-top:1px solid #ccc;" />

    <div class="tx_questionaire">
        <f:for each="{surveys}" as="survey">
            <h4>
                <f:link.action action="overview" arguments="{survey : survey}" style="text-decoration: none;">
                    <img src="sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-view.svg" width="16" height="16" />
                </f:link.action>
                <f:link.action action="overview" arguments="{survey : survey}">
                    {survey.title}</f:link.action>
                <small>(bislang {counter.{survey.uid}} Teilnehmer)</small>
            </h4>
        </f:for>
    </div>

</f:section>
</html>