<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">

		<f:flashMessages />

		<f:be.pageRenderer includeRequireJsModules="{
			0:'TYPO3/CMS/Questionaire/GeChart'
		}" />

		<f:if condition="{counter.{survey.uid}} == 0">
			<f:then>
				<hr style="border-top:1px solid #ccc" />
				<div class="alert alert-warning">
					Es hat noch niemand an dieser Umfrage teilgenommen.<br />
				</div>
				<f:link.action action="index" class="btn btn-default">&laquo; Zurück</f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="index" class="btn btn-default">&laquo; Zurück</f:link.action>
				<f:link.action class="btn btn-primary" action="csv" arguments="{survey:survey}">Download XLSX</f:link.action>
			</f:else>
		</f:if>

		<p>&nbsp;</p>

		<div class="well">
			<h4>
				<f:if condition="{counter.{survey.uid}}">
					<f:then>
						<f:link.action action="show" arguments="{survey : survey}" style="text-decoration: none;">
							<img src="sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-view.svg" width="16" height="16" />
						</f:link.action>
						<f:link.action action="show" arguments="{survey : survey}">
							Auswertung der Umfrage "{survey.title}"</f:link.action>
						<small>(bislang {counter.{survey.uid}} Teilnehmer)</small>
					</f:then>
					<f:else>
						<img src="sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-view.svg" width="16" height="16" />
						{survey.title}
						<small>(bislang 0 Teilnehmer)</small>
					</f:else>
				</f:if>
			</h4>
		</div>


		<p>&nbsp;</p>

		<f:if condition="{settings.doNotUseAuthKey} == 1">
			<f:then>
				<h4 style="text-align: center">Es wurden <f:count>{closedInvitations}</f:count> Umfragen seit dem {JSstartDate} abgeschlossen</h4>
			</f:then>
			<f:else>
				<h4 style="text-align: center">Es wurden <f:count>{invitations}</f:count> Einladungen seit dem {JSstartDate} versendet</h4>
			</f:else>
		</f:if>


		<canvas id="line-chart" width="800" height="300"></canvas>

		<script>
			var dates 				= <f:format.raw>{JSdates}</f:format.raw>;
			var closedInvitations 	= <f:format.raw>{JSclosedInvitations}</f:format.raw>;
			var openInvitations		= <f:format.raw>{JSopenInvitations}</f:format.raw>;
			var startedInvitations	= <f:format.raw>{JSstartedInvitations}</f:format.raw>;
			var allInvitations		= <f:count>{invitations}</f:count>;
			var JScountDays 		= {JScountDays};
			var JSpointSizeOpen		= {JSpointSizeOpen};
			var JScountOpen			= {JScountOpen};

		</script>

		<f:if condition="{settings.doNotUseAuthKey} == 1">
			<script>
				var openInvitations	= 0;
			</script>
		</f:if>



		<hr style="margin: 50px 0; border-top: 1px solid" />

		<h1 id="closedInvitations">Beendete Umfragen (<f:count>{closedInvitations}</f:count>)</h1>

		<table class="tx_questionaire table table-condensed table-striped table-hover">
			<tr>
				<th></th>
				<th>Benutzername</th>
				<th>Firma</th>
				<th>Email</th>
				<th>Versendet</th>
				<th>Einladung</th>
			</tr>

			<f:for each="{closedInvitations}" as="closedInvitation" iteration="_iter">
					<tr>
						<td>{_iter.cycle}</td>
						<td>
							<f:if condition="{closedInvitation.result}'}">
								<f:then>
									<f:if condition="{closedInvitation.feUser.username}">
										<f:then>
											<f:link.action action="result" arguments="{survey:survey, result: '{closedInvitatio n.result}'}">
												<img src="sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-view.svg" width="16" height="16" />
											</f:link.action>
											<f:link.action action="result" arguments="{survey:survey, result: '{closedInvitation.result}'}" style="text-decoration: underline;">
												{closedInvitation.feUser.username}
											</f:link.action>
										</f:then>
										<f:else>
											User existiert nicht mehr
										</f:else>
									</f:if>
								</f:then>
							</f:if>
						</td>
						<td>{closedInvitation.feUser.company}</td>
						<td>
							<f:link.email style="text-decoration: underline;" email="{closedInvitation.feUser.email}">{closedInvitation.feUser.email}</f:link.email>
						</td>
						<td><f:format.date format="d.m.Y - H:i">{closedInvitation.crdate}</f:format.date> Uhr</td>
						<td>{closedInvitation.uid}</td>
					</tr>
				</f:for>

		</table>

		<hr style="margin: 50px 0; border-top: 1px solid" />


		<h1>Nicht beendete Umfragen (<f:count>{canceledInvitations}</f:count>)</h1>

		<f:if condition="<f:count>{canceledInvitations}</f:count> >= 1">
			<p class="alert alert-info">Folgende User haben die Umfrage noch nicht abgeschlossen.</p>
		</f:if>

		<table class="tx_questionaire table table-condensed table-striped table-hover">
			<tr>
				<th></th>
				<th>Benutzername</th>
				<th>Firma</th>
				<th>Email</th>
				<th>Start</th>
				<th>Einladung</th>
			</tr>
			<f:for each="{canceledInvitations}" as="canceledInvitation" iteration="_iter">
					<tr>
						<td>{_iter.cycle}</td>
						<td>
							<f:if condition="{canceledInvitation.feUser.username}">
								<f:then>
									{canceledInvitation.feUser.username}
								</f:then>
								<f:else>
									User existiert nicht mehr
								</f:else>
							</f:if>
						</td>
						<td>{canceledInvitation.feUser.company}</td>
						<td>
							<f:link.email style="text-decoration: underline;" email="{canceledInvitation.feUser.email}">{canceledInvitation.feUser.email}</f:link.email>
						</td>
						<td><f:format.date format="d.m.Y - H:i">{canceledInvitation.crdate}</f:format.date> Uhr</td>
						<td>{canceledInvitation.uid}</td>
					</tr>
		</f:for>
		</table>

		<hr style="margin: 50px 0; border-top: 1px solid" />

		<f:if condition="{settings.doNotUseAuthKey} == 0">

			<h1>Versendete Einladungen (<f:count>{invitations}</f:count>)</h1>

			<table class="tx_questionaire table table-condensed table-striped table-hover">
				<tr>
					<th></th>
					<th>Benutzername</th>
					<th>Firma</th>
					<th>Email</th>
					<th>Versendet</th>
					<th>Einladung</th>
				</tr>
				<f:for each="{invitations}" as="invitation" iteration="_iter">
						<tr>
							<td>{_iter.cycle}</td>
							<td>
								<f:if condition="{invitation.feUser.username}">
									<f:then>
										{invitation.feUser.username}
									</f:then>
									<f:else>
										User existiert nicht mehr
									</f:else>
								</f:if>
							</td>
							<td>{invitation.feUser.company}</td>
							<td>
								<f:link.email style="text-decoration: underline;" email="{invitation.feUser.email}">{invitation.feUser.email}</f:link.email>
							</td>
							<td><f:format.date format="d.m.Y - H:i">{invitation.crdate}</f:format.date> Uhr</td>
							<td>{invitation.uid}</td>
						</tr>
					</f:for>
			</table>

			<hr style="margin: 50px 0; border-top: 1px solid" />

			<h1>Nicht gefolgten Einladungen (<f:count>{openInvitations}</f:count>)</h1>

			<f:if condition="<f:count>{openInvitations}</f:count> >= 1">
				<p class="alert alert-info">Folgende User haben an der Umfrage noch nicht teilgenommen.</p>
			</f:if>

			<table class="tx_questionaire table table-condensed table-striped table-hover">
				<tr>
					<th></th>
					<th>Benutzername</th>
					<th>Firma</th>
					<th>Email</th>
					<th>Versendet</th>
					<th>Einladung</th>
				</tr>
				<f:for each="{openInvitations}" as="openInvitation" iteration="_iter">
						<tr>
							<td>{_iter.cycle}</td>
							<td>
								<f:if condition="{openInvitation.feUser.username}">
									<f:then>
										{openInvitation.feUser.username}
									</f:then>
									<f:else>
										User existiert nicht mehr
									</f:else>
								</f:if>
							</td>
							<td>{openInvitation.feUser.company}</td>
							<td>
								<f:link.email style="text-decoration: underline;" email="{openInvitation.feUser.email}">{openInvitation.feUser.email}</f:link.email>
							</td>
							<td><f:format.date format="d.m.Y - H:i">{openInvitation.crdate}</f:format.date> Uhr</td>
							<td>{openInvitation.uid}</td>
						</tr>
					</f:for>
			</table>

			<hr style="margin: 50px 0; border-top: 1px solid" />
		</f:if>

	</f:section>
</html>
