<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

	<div class="col-md-12">

		<f:flashMessages />

		<f:link.action action="overview" arguments="{survey : survey}" section="closedInvitations" class="btn btn-default">&laquo; Zurück</f:link.action>

		<hr style="margin: 20px 0; border-top: 1px solid #ccc" />

		<h4 style="margin:0; line-height: 30px">
			<b>{result.feUser.username}</b><br />
			<f:link.email style="text-decoration:underline" email="{result.feUser.email}">{result.feUser.email}</f:link.email><br />
			{result.feUser.company}
		</h4>
	</div>

		<f:for each="{survey.questions}" as="question">

			<div class="col-md-12 results" id="tx-questionaire-form">
				<f:if condition="{question.type} == 'Matrix'">
					<f:then>
						<hr style="margin: 20px 0; border-top: 1px solid #ccc" />
						<h4>{question.title}</h4>
						<f:if condition="{question.description}">
							<div class="description">
								<f:format.raw>{question.description}</f:format.raw>
							</div>
						</f:if>
						<table class="table table-striped">

							<thead>
							<tr>
								<td>

								</td>
								<f:for each="{question.answers}" as="answers">
									<td style="text-align:center">{answers.title}</td>
								</f:for>
								<td>

								</td>
							</tr>
							</thead>

							<tbody>
							<f:for each="{question.matrixquestions}" as="matrixquestion" iteration="_iter">
								<f:render partial="Result/{question.type}" arguments="{question: '{question}', matrixquestion: '{matrixquestion}', answers: '{question.answers}', _iter: '{_iter}', disabled: '{disabled}', matrixanswers: '{matrixanswers}', matrixnotes: '{matrixnotes}' }" />
							</f:for>
							</tbody>

						</table>


					</f:then>
					<f:else>
						<f:if condition="{question.type} == 'Grades'">
							<f:then>
								<hr style="margin: 20px 0; border-top: 1px solid #ccc" />
								<h4>{question.title}</h4>
								<div class="description">
									<f:format.raw>{question.description}</f:format.raw>
								</div>

								<f:for each="{grades}" as="grade" iteration="_iter">
									<f:render partial="Result/{question.type}" arguments="{question: '{question}', grade: '{grade}', _iter: '{_iter}', disabled: '{disabled}', notes: '{notes}'}" />
								</f:for>

							</f:then>
							<f:else>
								<hr style="margin: 20px 0; border-top: 1px solid #ccc" />
								<h4>{question.title}</h4>
								<div class="description">
									<f:format.raw>{question.description}</f:format.raw>
								</div>

								<f:if condition="{question.type} == 'Radios'">
									<f:then>

										<f:if condition="{question.htmlElement} == 'Select'">
											<f:then>
												<f:render partial="Result/Select" arguments="{resultAnswers: '{result.answers}', question: '{question}', answer:answer, _iter: '{_iter}', disabled: '1', notes: '{notes}', selectOptions: '{selectOptions}'}" />
											</f:then>
											<f:else>
												<f:for each="{question.answers}" as="answer" iteration="_iter">
													<f:render partial="Result/{question.type}" arguments="{resultAnswers: '{result.answers}', question: '{question}', answer:answer, _iter: '{_iter}', disabled: '1', notes: '{notes}'}" />
												</f:for>
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<f:for each="{question.answers}" as="answer" iteration="_iter">
											<f:render partial="Result/{question.type}" arguments="{resultAnswers: '{result.answers}', question: '{question}', answer:answer, _iter: '{_iter}', disabled: '{disabled}', notes: '{notes}'}" />
										</f:for>
									</f:else>
								</f:if>

							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>


		</f:for>

	<div class="col-md-12">
		<hr style="clear: both;margin: 10px 0; border-top: 1px solid #ccc" />
		<f:link.action action="overview" arguments="{survey : survey}" section="closedInvitations" class="btn btn-default">&laquo; Zurück</f:link.action>
		<br /><br /><br />
	</div>

</f:section>
</html>