<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ge=EXOTEC\Questionaire\ViewHelpers}
  <f:layout name="Default" />

  <f:section name="content">

    <f:be.pageRenderer includeRequireJsModules="{
			0:'TYPO3/CMS/Questionaire/Donut',
			1:'TYPO3/CMS/Questionaire/Bar',
			2:'TYPO3/CMS/Questionaire/MatrixBar',
			3:'TYPO3/CMS/Questionaire/MatrixRadar'
		}" />

    <f:flashMessages />

    <h1>{survey.title}</h1>
    <div><f:format.html>{survey.description}</f:format.html></div>

    <hr style="border-top:1px solid #ccc;" />

    <h3>
      Bislang <f:count subject="{results}" /> Teilnehmer von insgesamt {invitations} Einladungen
    </h3>

    <f:if condition="<f:count subject='{results}' /> == 0">
      <f:then>
        <hr style="border-top:1px solid #ccc" />
        <div class="alert alert-warning">
          Es hat noch niemand an dieser Umfrage teilgenommen.<br />
        </div>
        <f:link.action action="list" class="btn btn-default">&laquo; Zurück</f:link.action>
      </f:then>
      <f:else>
          <f:link.action action="overview" arguments="{survey : survey}" class="btn btn-default">&laquo; Zurück</f:link.action>
          <f:link.action class="btn btn-primary" action="csv" arguments="{survey:survey}">Download XLSX</f:link.action>

          <hr style="border-top:1px solid #ccc;" />

          <script>
            var questions = [];
            var matrixquestions = [];
            var matrixanswers = [];
            var answers = [];
          </script>

          <f:for each="{survey.questions}" as="question">

            <f:render partial="Result/Results" arguments="{_all}"></f:render>

            <f:if condition="{question.type} != 'Matrix'">
              <f:then>
                <div class="charts">
                  <strong>Charts:</strong>
                  <a href="#" class="openNextDonut">Anzeigen</a>
                  <hr style="border-top: 1px solid #ccc;" />

                  <div class="donutChart chart row" style="display: none">
                    <div class="col-xs-6">
                      <canvas width="50%" id="doughnut-chart_{question.uid}"></canvas>
                    </div>
                    <div class="col-xs-6">
                      <canvas id="bar-chart_{question.uid}"></canvas>
                    </div>
                    <div class="col-xs-12">
                      <hr style="border-top: 1px solid #ccc;" />
                    </div>
                  </div>

                </div>

                <script>
                  var qUid = {question.uid};
                  var qTitle = '{question.title}';
                  var values = {
                    uid: qUid,
                    title: qTitle
                  };
                  questions.push(values);
                </script>

              </f:then>
              <f:else>
<f:comment>
  <div class="charts">
    <strong>Charts:</strong>
    <a href="#" class="openNextMatrixbar">Bar</a> |
    <a href="#" class="openNextMatrixradar">Radar</a>
    <hr style="border-top: 1px solid #ccc;" />

    <div class="matrixbarChart chart" style="display: none">
      <h3>Dies ist nur ein Demo. Die Daten stimmen noch nicht!</h3>
      <canvas id="matrixbar-chart_{question.uid}"></canvas>
      <hr style="border-top: 1px solid #ccc;" />
    </div>

    <div class="matrixradarChart chart" style="display: none">
      <h3>Dies ist nur ein Demo. Die Daten stimmen noch nicht!</h3>
      <canvas id="matrixradar-chart_{question.uid}"></canvas>
      <hr style="border-top: 1px solid #ccc;" />
    </div>

  </div>



  <script>
    var qUid = {question.uid};
    var mqTitle = '{question.title}';
    var values = {
      uid: qUid,
      title: mqTitle
    };
    matrixquestions.push(values);
  </script>
</f:comment>


              </f:else>
            </f:if>

          </f:for>
      </f:else>
    </f:if>


  </f:section>
</html>